[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=C&C Tiberian Sun
Comment=
Exec=tsun
Icon=${SNAP}/meta/gui/cnctsun.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=Launcher.exe
Keywords=game
